[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
django-environ = "*"
celery = {extras = ["redis"], version = "*"}
flower = "*"
requests = "*"

[dev-packages]
pytest = "*"
black = "*"
isort = "*"
autoflake = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
